body {
  background: #e2e1e0;
}

/* GRID LAYOUT */
#wrapper {
  margin: auto;
  display: grid;
  background: #fff;
  border-radius: 4px;
  margin-top: 3em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  grid-template-rows: 150px 1fr 100px;
  grid-template-columns: 1fr;
  width: 600px;
  margin-bottom: 3em;
}

#title {
  text-align: center;
  background-color: #f2f8f9;
  grid-row: 1;
}

#booklist {
  grid-row: 2;
  padding-left: 15px;
  padding-right: 15px;
}

/* Add button Positioning */
#bookremove {
  grid-row: 3;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Text Formatting */
h1 {
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

th {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

td, span {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: #666666;
}

#readCheckbox{
    padding-top: 5px;
}

p {
  color: #666666;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

#title-subtext {
  margin-top: -30px;
}

/* MODAL BOX / FORM Layout */
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
}
/* Modal Form Close Button */
.close {
  color: #aaa;
  float: right;
  margin-top: -25px;
  margin-right: -10px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.row{
    margin-bottom: 0px;
}
/* Remove Number Arrows from Number Input form in Modal Box*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* Form Submit Buttom */
#submit-button {
    text-align:center;
}

/* Book List Table Formatting */
table {
    padding-left: 20px;
}


/* Footer Formatting */
:root {
	--mainColor: #2b2b2b;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;

}

.footer-text {
  margin: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.footer-text a {
	background: linear-gradient(
		to bottom,
		var(--mainColor) 0%,
		var(--mainColor) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 2px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	transition: background-size 0.4s;
}

.footer-text a:hover {
	background-size: 4px 50px;
}

.footer-text a:nth-child(2) {
	color: inherit;
	text-decoration: none; /* no underline */
	color: white;
	border-bottom: 0;
	background: none;
}
